/* @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
  letter-spacing: 0.5px;
}

p {
  font-size: calc(10px + 2vmin);
  line-height: calc(20px + 2vmin);
}

span {
  font-size: calc(10px + 2vmin);
}

a {
  font-weight: bold;
}

a:hover {
  background: #de6000cd;
}

/* HIGHLIGHT1 = #de6000 */
/* HIGHLIGHT2 = #273570 */
/* black and white */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  min-height: 100vh;
  background-image: url("https://github.com/lawrluor/solperheroes-frontend/blob/main/public/img/solana_pincushion_bg@0.5x.png?raw=true");
  background-color: black;
}

.App-header {
  /* background-color: #de6000; */
  background: linear-gradient(45deg, #273570, #FF8700);
  /* background: linear-gradient(45deg, #e66465, #9198e5); */
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #273570;
  max-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-button {
  /* border: 3px solid white; */
  border-radius: 10px;
  color: white;
  background: #de6000;
  
  padding: 15px;
  margin: 10px;
  box-shadow: 2px 3px #888888;
  text-decoration: none;
}

.titleText {
  color: white;
}

.bodyText {
  color: white;
}

.mainTextContainer { 
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.infoText {
  color: white;
}

.blurbText {
  margin: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
