@import-normalize;

/* DEBUG */
* {
  /* border: green 1px solid */
}

/* BEGIN RESET CSS */
/* NOTE: Importing separately doesn't seem to work. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font: inherit;
	vertical-align: baseline;
  color: white;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET CSS */

/* Some transparency on beginning of gradients. See header and footer */
/* border-radius: 10px */

:root {
  --ACCENT: #de6000;
  --HIGHLIGHT: #273570;
  --FOREGROUND: white;
  --BACKGROUND: black; /* BACKGROUND = black, but can be slightly transparent for less harshness against white */
  --GREY: #555555;
}

/* @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



body {
  font-family: 'Righteous', cursive;
  letter-spacing: 0.5px;
}

h1 {
  font-size: calc(2rem + 2vmin);
}

h2 {
  font-size: calc(1.25rem + 2vmin);
}

h3 {
  font-size: calc(1rem + 2vmin);
}

h4 {
  font-size: calc(0.75rem + 2vmin);
}

h5 {
  font-size: calc(0.5rem + 2vmin);
}

h6 {
  font-size: calc(0.33rem + 2vmin);
}

p {
  font-size: calc(10px + 2vmin);
  line-height: calc(20px + 2vmin);
  font-weight: 600;
  -webkit-text-stroke: 0.1px #273570;
}

span {
  margin: 0;
	padding: 0;
}

strong {
  font-weight:900;
  -webkit-text-stroke: 0px var(--FOREGROUND);
}

.block2content strong {
  font-weight:900;
  -webkit-text-stroke: 0px var(--FOREGROUND);
  color: var(--ACCENT);
}


a {
  font-weight: bold;
  margin: 0;
	padding: 0;
}

a:hover {
  background: #de6000cd;
  box-shadow: 2px 2px #555555;
}

.comingSoon {
  position: absolute;
  font-size: calc(0.1rem + 2vmin);
  transform: rotate(-45deg);
  left: 1rem;
  overflow-wrap: break-word;
}

.downArrow {
  font-size: 3rem;
  color: white;
  position: absolute;
  bottom: -5px;
}

.App-button .iconStyle {
  margin-left: 5px;
}

.subTitle {
  font-family: 'Poiret One', cursive;
  font-weight: 900;
  line-height: 2.2rem;
}

.App {
  text-align: center;
}

.logoContainer {
  padding-top: 1rem;
}

.App-logo {
  display: block;
  width: calc(75vmin);
  margin-left: auto;
  margin-right: auto; 
}

.App-main {
  background: black; /* fallback background underneath full page while others load */
}

.App-header {
  /* background-color: #de6000; */
  background: linear-gradient(45deg, #273670eb, #FF8700);
  /* background: linear-gradient(45deg, #e66465, #9198e5); */
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
  /* border-bottom: 1px solid white; */
}

.App-footer {
  background: linear-gradient(45deg, #de6000cd, var(--HIGHLIGHT));
  /* background-color: var(--HIGHLIGHT); */
  min-height: 5vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-button {
  /* border: 3px solid white; */
  border-radius: 10px;
  color: white;
  background: #de6000;
  padding: 15px;
  margin: 10px;
  box-shadow: 1.5px 1.5px 5px #555555;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.block1 { 
  background-image: url("https://github.com/lawrluor/solperheroes-frontend/blob/main/public/img/solana_pincushion_bg@0.5x.png?raw=true");
  min-height: 87vh; /* with top as 10vh, and first block as 87vh, allows second block to show through with 2vh */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block1content {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.block1 p {
  padding: 1rem;
  /* margin-bottom: 2.2rem; */
}

.block2 {
  background: linear-gradient(180deg, var(--HIGHLIGHT), black);
  padding: 1vw;
  min-height: 60vh; /* Will be fullsize 100vh when more content is on page */
  padding: 2rem;
}

.block2content {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.block2content .subTitle {
  font-weight: 900;
  display: inline;
}

.iconTextContainer .icon {
  margin-right: 2px;
  margin-top: 20px;
  font-size: 3vmin;
  color: var(--ACCENT);
  -webkit-text-stroke: 1px var(--FOREGROUND);
}

.iconTextContainer {
  text-align: start;
}

.block3 {
  background: black;
  padding: 1vw;
  min-height: 50vh; /* Will be fullsize 100vh when more content is on page */
}

.block4 {
  background: black;
  padding: 2vw;
  min-height: 50vh; /* Will be fullsize 100vh when more content is on page */
}

.block4content {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.block4content .subTitle {
  font-weight: 900;
  display: inline;
}

.teamList {
  display: flex;
  flex: 10;
}

.teamMember {
  width: 20rem;
  background: var(--HIGHLIGHT); /* var(--HIGHLIGHT); */
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  border-radius: 10px;
  padding: 15px 15px;
  box-shadow: 1.5px 1.5px 5px #555555;
}

.teamMember .imgContainer {
  margin: 10px;
}

.teamMember img {
  border: #555555 solid 1px;
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
}

/* large breakpoint - go to phone mode on tablets early */
@media all and (max-width: 80rem) {
  .teamList {
    background: black;
    display: flex;
    flex-direction: column;
  }

  .block1content {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15vh;
  }

  .block2content {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .block3 {
    padding-top: 3rem;
  }

  .block4 {
    padding-top: 3rem;
  }
}

.titleContainer {
  padding: 1rem;
}

/* Spinning animation
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
*/
